@import '../../theme.styl'

:host
    display inline-block
    position absolute
    bottom 16px
    right 16px

purpleColor = #84A5DF

.fab-menu
    background: purpleColor
    border-radius: 80px
    padding: 4px 5px
    border: 0
    outline: none

.fab-menu > svg
    width: 36px
    height: 36px

#elipsis-h
#share
#coffee
#smile
#question
#github-alt
    fill #fff

.fab-bar
    position absolute
    bottom 56px
    right 0

    background purpleColor
    border-radius 80px
    padding: 8px 8px 6px 8px

.hidden
    display none
    // animation fade-hide 2.5s infinite 

// .hidden .fab-label
//     animation hide-labels 2.5s infinite 
    
.fab
    border-radius: 80px
    padding: 4px 5px
    border: 0
    outline: none
    position relative
.fab-label
    display inline-block
    position absolute
    top 0
    right 50px
    white-space nowrap

    padding: 6px 10px
    background: #3E3E3E
    color: #fff
    border-radius: 30px
    font-family: primaryFont, monospace
    overflow: hidden
.fab > svg 
    width 21px
    height 21px
.icon
    background: #00000000 !important


// @keyframes fade-hide
//   0%
//     opacity 1
//   100%
//     opacity 0
//     transform: translateX(20px) translateY(20px) scale(0.5)

// @keyframes hide-labels
//   0%
//     width auto
//     color #00000000
//   100%
//     width 0px
//     padding: 0
//     color #00000000
//     transform scale(0.5)

