:host
    display inline-block
    position absolute
    bottom: 1px
    left: 8px
    cursor pointer
    user-select none

:host img
    width 64px
    height 64px
    opacity: 0.6
    transition: all .3s ease

:host img:hover
    opacity: 1
