@import '../../theme.styl'


:host
    position: absolute
    top: 20px
    left 0
    width: 100%
    z-index: 2

.wrapper
    max-width: 90%
    margin-left: auto
    margin-right: auto
    position relative

@media screen and (min-width:1023px)
    .wrapper
        max-width: 800px
        margin-left: auto
        margin-right: auto

.search-bar > input
    width: 100%
    padding: 12px 20px
    border-radius 50px
    border 3px solid #000
    background: #ffffff
    color: #000000
    font-size: 20px
    outline none
    font-family: primaryFont, monospace

    box-sizing: border-box
    -webkit-box-sizing:border-box
    -moz-box-sizing: border-box

.mic-icon
.search-icon
    position absolute
    top 50%
    transform: translateY(-50%)
    display inline-block
    width: 24px
    height 24px
.search-icon
    right 18px

.mic-icon
    right 50px

.mic-icon:hover .mic-recording
    opacity 1
    
.mic-recording-active
.mic-recording
    position absolute
    width 30px
    height 30px
    top -3px
    left -3px
    z-index 1
    border-radius 8px
    transition all .5s ease

.mic-recording
    opacity 0
    background #ef655f

.mic-recording-active
    background #ef655f

.icon
    cursor pointer
    user-select none
    position: relative
    z-index: 2
.icon #search
    fill: #000
